{% extends 'base.html.twig' %}

{% block body %}

    <div class="my-bg-full">
        <div class="container">
            <h2>Register panel</h2>

            {{ form(form) }}

        </div>
    </div>

{% endblock %}